body {
    background-image: linear-gradient(#0f5490, #00f2fe);
    min-height: 100vh; /* Ensures it covers the full viewport */
    display: flex;
    /* Aligns items vertically in a column */
    flex-direction: column;
    /* Centers the semi-circles within the container */
    align-items: center;
    gap: 10px; /* Adds space between the semi-circles */
}

*{
    margin:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

/* class names */


    .main-box1{
     display: inline-block;
     position:relative;
     width:200px;
     height:100px;
     border-radius: 0 0 100px 200px;
     vertical-align: top;
     text-align:left;
     padding:20px;
     background: linear-gradient(45deg, #5a083c, #e7b1b8);
     border-style:groove;
     border-color: #4d193a;
    }
    .main-box1{
        font-size:1000px;
        color:#e6a2c4;
        font-weight: 900;
    }
    .main-box2{
        display: inline-block;
        position:relative;
        width:300px;
        height:200px;
        border-radius: 0 0 100px 100px;
        border-top-left-radius: 200px;
        border-top-right-radius: 50px;
        text-align:right;
        padding:20px;
        margin-top: 15px;
        background: linear-gradient(45deg, #7b2868, #fcb9c9);
        border-style:groove;
        border-color: #804369;
    }
    .main-box2>p{
        font-size:55px;
        color:rgb(232, 177, 212);
        font-weight:800;
    }
    .main-box3{
        display: inline-block;
        position:relative;
        width:400px;
        height:500px;
        border-radius: 0 0 300px 300px;
        border-top-left-radius: 200px;
        border-top-right-radius: 400px;
        align-content: center;
        padding:20px;
        background: linear-gradient(45deg, #890a5c, #f4d0e4);
        border-style:groove;
        border-color: #3b3338;
    }
    .main-box3>p{
        font-size: 90px;
        color:#eeb9d3;
        font-weight: 900;
    }
    .main-box4{
        display: inline-block;
        position:fixed;
        right:200px;
        width:300px;
        height:300px;
        border-radius: 0 0 200px 300px;
        border-top-left-radius: 200px;
        border-top-right-radius: 400px;
        align-content: center;
        padding:20px;
        background: linear-gradient(45deg, #9c3963, #f4d0e4);
        border-style:groove;
        border-color: #3b3338;
    }
    .main-box4>p{
        font-size: 70px;
        color:#eeb9d3;
        font-weight: 900;
    }
    .circle1{
        position:relative;
        right:200px;
        bottom:80px;
        width:100px;
        height:100px;
        border-radius:150%;
        border-top-left-radius: 200px;
        border-top-right-radius: 300px;
        align-content: center;
        text-align: center;
        background: linear-gradient(45deg, #b04aa1, #efbbd2);
        border-style:dotted;
        border-color: #f7f3f6;

    }
    .circle1 >p{
        font-size:25px;
        color: rgb(250, 200, 236);
        font-weight: 700;
    }
    
    .circle2{
        position:relative;
        left:300px;
        bottom:400px;
        width:150px;
        height:150px;
        border-radius:250%;
        border-top-left-radius: 200px;
        border-top-right-radius: 500px;
        align-content: center;
        text-align: center;
        background: linear-gradient(45deg, #ae4ea0, #efbbd2);
        border-style:dotted;
        border-color: #faf8fa;

    }
    .circle2 >p{
        font-size:40px;
        color: rgb(235, 187, 224);
        font-weight: 700;
    }

    .circle3{
        position:fixed;
        left:200px;
        bottom:20px;
        width:400px;
        height:400px;
        border-radius:250%;
        border-top-left-radius: 800px;
        border-top-right-radius: 900px;
        align-content: center;
        text-align: center;
        background: linear-gradient(45deg, #ba4284, #efbbd2);
        border-style:dotted;
        border-color: #f5f2f5;

    }
    .circle3 >p{
        font-size:100px;
        color: rgb(235, 187, 224);
        font-weight: 900;
    }