*{
    margin:0px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* class names */


    .main-box1{
     display: inline-block;
     position: relative;
     background:rgb(30, 122, 235);
     width:350px;
     height:300px;
     vertical-align: top;
     padding:20px;

    }
    .main-box2{
        display: inline-block;
        position: relative;
        background:rgb(82, 20, 152);
        width:400px;
        height:500px;
        vertical-align: top;
        padding:20px;
        margin-top: 20px;
    }
    .main-box3{
        display: inline-block;
        position: relative;
        background:rgb(160, 28, 72);
        width:400px;
        height:900px;
        vertical-align: top;
        padding:20px;
    }

    .circle{
        position: absolute;
        right:10px;
        bottom:10px;
        background:rgb(244, 232, 128);
        width:100px;
        height:100px;
        border-radius:100%;
        align-content: center;
        text-align: center;

    }

    .circle > p{
        font-size:20px;
        color:white;
        
    }